body{
    font-family: 'Work Sans';
}

.header{
    background-color:#F3C6BD;
    padding: 44px 0 71px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start{
    justify-content: start;
}

.button-main{
    font-weight: bold;
    width: 160px;
    height: 48px;
    border: none;
    background: #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.button-main:hover{
    background: #1528db;
    transition: 0.6s;
}

.button-second{
    font-weight: bold;
    width: 160px;
    height: 48px;
    font-size: 18px;
    line-height: 0.72;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: 0.6s;
}

.header-logo img{
    margin-left: 15px;
}

.header-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.header-text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header-ul{
    margin-right: 77px;
}

.header-li:first-of-type{
    margin-right: 50px;
}

.header-link{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
    position: relative;
}

.header-link:hover{
    font-weight: bold;
}

.header-link:hover::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #3040C4;
    bottom: -6px;
}

.header-button{
    font-weight: bold;
    width: 160px;
    height: 48px;
    border: none;
    background: #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    cursor: pointer;
}

.header-button:hover{
    background: #1528db;
    transition: 0.5s;
}

.main{
    background-color:#F3C6BD;
}

.main-image{
    margin-bottom: 77px;
    margin-left: -300px;
}

.main-title{
    width: 754px;
    height: 165px;
    font-weight: bold;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 34px;
}

.main-text{
    width: 456px;
    height: 102px;
    font-size: 24px;
    line-height: 1.42;
    color: #2B292D;
    margin-bottom: 34px;
}

.main-ul{
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-bottom: 58px;
}

#main, #second{
    position: relative;
}
#main{
    z-index: 2;
}

#second{
    z-index: 1;
}

.about{
    background-color: rgba(0, 161, 198, 0.1) ;
}

.about-ul{
    padding: 77px 0 76px;
}

.about-title, .for-title{
    font-weight: 700;
    font-size: 22px;
    line-height: 1.45;
    color: #2B292D;
}

.about-text, .for-text{
    font-weight: 400;
    font-size: 22px;
    line-height: 1.45;
    color: #2B292D;
}

.corporation{
    padding: 30px 0px 30px;
}

.team{
    background-color: rgba(252, 240, 227, .4);
    padding: 117px 0 116px;
}

.info-pretitle{
    font-weight: bold;
    font-size: 22px;
    line-height: 1.55;
}

.info-pretitle-orange{
    color:  #F1592B;
    margin-bottom: 26px;
}

.info-title{
    max-width: 462px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.0;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 26px;
}

.info-text{
    max-width: 462px;
    font-size: 24px;
    line-height: 1.42;
    color: #2B292D;
    margin-bottom: 44px;
}

.inbox-response{
    max-width: 519px;
    width: 100%;
    background-color: #FFFFFF;
    padding: 30px 30px 24px;
    box-sizing: border-box;
    border-bottom: 4px solid #0185D0;
}

.inbox-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: #2B292D;
    padding-bottom: 26px;
}

.inbox-text-span{
    font-weight: bold;
}

.inbox-img{
    margin-right: 11px;
}

.inbox-name{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.38;
    color: #2B292D;
}

.inbox-position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.38;
    color: rgba(43, 41, 45, 0.6);
 }

.visitor{
    margin: 0 auto;
    background-color: rgba(0, 161, 198, 0.1);
}

.visitor-title{
    font-size: 22px;
    line-height: 1.55;
    text-align: center;
    color:  #2B292D;;
    padding-top: 108px;
}

.visitor-main{
    max-width: 555px;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.0;
    text-align: center;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin: 24px auto;
}

.visitor-text{
    max-width: 555px;
    font-size: 24px;
    line-height: 1.42;
    text-align: center;
    color: #2B292D;
    margin: 30px auto;
}

.visitor-button{
    margin-bottom: 111px;
}

.visitor-button:first-of-type{
    margin-right: 50px;
}

.visitor-ul{ 
    display: flex;
    justify-content:center;
    gap: 10px;
    margin-bottom: 111px;
}

.visitor-grid{
    display: grid;
    grid-template-columns: repeat(4, 262px);
    gap: 30px;
    justify-content:center;
 }

.visitor-block{
    background-color: #FFFFFF;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 110px;
}

.visitor-block:hover{
    background-color: #3040C4;
    transition: 0.6s;
}

.visitor-image{
    padding: 22px 0px;
}

.visitor-p{
    font-weight: bold;
    font-size: 22px;
    line-height: 1.27;
    text-align: center;
    color: #2B292D;
    margin-bottom: 33px;
}

.visitor-p:hover{
    color: #FFFFFF;
    transition: 0.8s;
}

.grid{
    margin: 90px auto; 
}

.grid-title{
    max-width: 588px;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #000000;
    margin: 0 auto;
}

.grid-text{
    max-width: 554px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.42;
    text-align: center;
    color: #172342;
    margin: 26px auto 97px;
}

.grid-block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 49.52px;
    row-gap: 41px;
}

.photo{
    border-radius: 8px;
}

.photo:nth-child(3), .photo:nth-child(4){
    grid-row: span 2;
}
